<h1>Giới Thiệu</h1>
			<img class="card-img-top" src="https://fpt.edu.vn/Content/images/assets/Poly.png" alt="">
Năm 2017 lần đầu tiên kỳ thi THPT Quốc gia, môn Toán được Bộ Giáo dục & Đào tạo áp dụng hình thức thi trắc nghiệm. Sự thay đổi đột ngột này đã làm cho không ít thầy cô giáo cũng như hầu hết các em học sinh cảm thấy bất ngờ, bối rối. Người dạy cũng không chắc dạy như thế nào cho phù hợp, học sinh thì không có tài liệu chính thống, giáo trình hay một sân chơi tầm cỡ  để các em tin tưởng thử sức mình trước kỳ thi chính thức.


Nhận thấy được sự dịch chuyển của xu hướng dạy học hiện nay, Công ty Công nghệ giáo dục và Sách Tinh Hoa với hơn 10 năm kinh nghiệm hoạt động trong lĩnh vực giáo dục và xuất bản sách đã phối hợp cùng với hơn 200 chuyên gia hàng đầu hiện nay trong lĩnh vực giáo dục phổ thông, tổ chức biên soạn hơn 100.000 câu hỏi trắc nghiệm trực tuyến đảm bảo tiệm cận với cấu trúc đề thi mới nhất của Bộ Giáo dục & Đào tạo. Bên cạnh đó, chúng tôi còn đặc biệt quan tâm đến sự phong phú của nội dung cũng như đa dạng hóa cách thức ra đề nhằm mang đến cho cả học sinh lẫn giáo viên một công cụ đắc lực trong công tác dạy và học hình thức trắc nghiệm.
<br><br><br><br>
