<app-manage-student></app-manage-student>
 <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Quên Mật Khẩu</h5>
            <form class="form-signin">
              <div class="form-label-group">
                <label for="inputEmail">Mật Khẩu</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Mật Khẩu" required autofocus>
              </div>
              <div class="form-label-group">
                 <label for="inputPassword">Email</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Email" required>
              </div>
              <div class="form-label-group">
                 <label for="inputPassword">Mật Khẩu Mới</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Mật Khẩu Mới" required>
              </div>
              <div class="form-label-group">
                <label for="inputPassword">Nhập Lại Mật Khẩu</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Nhập Lại Mật Khẩu" required>
              </div>
              <hr class="my-4">
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cập Nhật</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>